<div class="chatbox-div">
    <div class="chatbox-header d-flex" @onclick="() => ToggleChatbox()">
        &#9679
        <div class="title">
            Chat
        </div>
    </div>
    <div class="chatbox-content @(visible ? "visible" : "")">
        <ChatMessage Message="Welkom" type="bot" />
        <ChatMessage type="questions" mockdata="questions" QuestionClicked="HandleQuestionClicked" />
        @foreach (var message in chatMessages)
        {
            if(message.Message != null) {
            <ChatMessage Message="@message.Message" type="@message.type" mockdata="@message.mockdata" QuestionClicked="HandleQuestionClicked" /> 
            } else  {
            <ChatMessage type="@message.type" mockdata="@message.mockdata" QuestionClicked="HandleQuestionClicked" />
            }
        }
    </div>
</div>


@code {
    public bool visible = false;
    private List<ChatMessage> chatMessages = new List<ChatMessage>();

    void ToggleChatbox()
    {
        visible = !visible;
    }

    List<FAQItem> questions = FAQData.GetFAQs();

    private async void HandleQuestionClicked(string answer)
    {
        await botResponse(answer);
        await botResponse("Heb je nog andere vragen?");
        await userResponse();
    }

    private async Task botResponse(string answer)
    {
        await Task.Delay(1500);
        chatMessages.Add(new ChatMessage { Message = answer, type = "bot" });
        StateHasChanged();
    }

    private async Task userResponse()
    {
        chatMessages.Add(new ChatMessage { Message = null,  type = "questions", mockdata=questions });
        StateHasChanged();
    }
}