@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime

<div class="chatbox-div">
    <div class="chatbox-header d-flex" @onclick="() => ToggleChatbox()">
        &#9679
        <div class="title">
            Chat
        </div>
    </div>
    <div class="chatbox-content @(visible ? "visible" : "")">
        <ChatMessage Message="Welkom, hoe kan ik u helpen?" type="bot" />
        <ChatMessage type="questions" mockdata="questions" QuestionClicked="HandleQuestionClicked" />
        @foreach (var message in chatMessages)
        {
            if(message.Message != null) {
            <ChatMessage Message="@message.Message" type="@message.type" mockdata="@message.mockdata" QuestionClicked="HandleQuestionClicked" /> 
            } else  {
            <ChatMessage type="@message.type" mockdata="@message.mockdata" QuestionClicked="HandleQuestionClicked" />
            }
        }
    </div>
    <script>
        function scrollToBottom() {
            var objDiv = document.getElementsByClassName("chatbox-content")[0];
            objDiv.scrollTop = objDiv.scrollHeight;
        }
    </script>
</div>



@code {
    public bool visible = false;
    private List<ChatMessage> chatMessages = new List<ChatMessage>();

    void ToggleChatbox()
    {
        visible = !visible;
    }

    List<FAQItem> questions = FAQData.GetFAQs();
    private async void HandleQuestionClicked(FAQItem item)
    {
        await botResponse(item.Answer);
        questions.Remove(item);

        if(questions.Count < 1)
        {
            questions = FAQData.GetFAQs();
        }

        await botResponse("Heb je verder nog vragen?");
        await showQuestions();
    }

    private async Task botResponse(string answer)
    {
        await Task.Delay(1500);
        chatMessages.Add(new ChatMessage { Message = answer, type = "bot" });
        StateHasChanged();
        JSRuntime.InvokeVoidAsync("scrollToBottom");
    }

    private async Task showQuestions()
    {
        await Task.Delay(500);
        chatMessages.Add(new ChatMessage { Message = null,  type = "questions", mockdata=questions });
        StateHasChanged();
        JSRuntime.InvokeVoidAsync("scrollToBottom");
    }
}