@using BlazorApp.Data
@using Microsoft.AspNetCore.Components
@using System.Text.Json
@using System.Text.Json.Serialization;

<div>
    <div class="buttons">
        <Button Color="Color.Primary" Clicked="@ShowModal">Edit</Button>
    </div>
    <div>
        <h1>title</h1>
            <p>
                context
            </p>
        @* @foreach(var h in header){
            <h1>@h.title</h1>
            <p>
                @h.context
            </p>
                
            } *@
            </div>
    <Modal @ref="modalRef">
        <ModalContent Centered>
            <ModalHeader>
                <ModalTitle>header wijziging</ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody>
                <Field>
                    <FieldLabel>Titel</FieldLabel>
                    <TextEdit Placeholder="Geef titel..." @bind-Text="newtitle" />
                </Field>
                <Field>
                    <FieldLabel>Beschrijving</FieldLabel>
                    @* rich *@
                    <RichTextEditor />
                </Field>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="@HideModal">Sluit</Button>
                @* <Button Color="Color.Primary" Clicked="@UpdateTitle">Opslaan</Button> *@
            </ModalFooter>
        </ModalContent>
    </Modal>
    <p>The value of the title field is: @newtitle</p>
</div>

@code {

    string newtitle;
    string context;

    private Modal modalRef;

    private Task ShowModal()
    {
        return modalRef.Show();
    }

    private Task HideModal()
    {
        return modalRef.Hide();
    }

  

}
