@page "/admin/dokters"
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
@using System.Text.Json
@using Persistence.Data
@using Services.Core
@using Shared.DTO.Core
@using BlazorApp.Controllers
@inject DatabaseContext databaseContext
@using Microsoft.AspNetCore.Components
@inject DoctorService doctorService
@inject NavigationManager NavManager
@using BlazorApp.Components.Modals
@using Shared.Enums;

@attribute [Authorize(Roles = "Admin")]

<PageTitle>Admin - Doctors</PageTitle>

<SideNavMenu />
<div class="content">
    <div class="info-container">
        <h1>Dokters in het systeem</h1>
        <div class="add-button">
             <input @bind="searchTerm" @onkeyup="FilterDoctorsOnEnter" placeholder="Zoek op naam" />
            <AddDoctorPopup />
        </div>
        <div class="alert-container">
            <Alert Color="Color.Danger" @bind-Visible="@visible">
                <AlertDescription>
                    @message
                </AlertDescription>
                <CloseButton />
            </Alert>
        </div>
        <div class="containerr">
        @if (filteredDoctors != null && filteredDoctors.Any())
        {
            @if (doctors != null && doctors.Count() > 0)
            {
                <div class="headers">
                    <p>Id</p>
                    <p>Naam</p>
                    <p>Specialisatie</p>
                    <p>Geslacht</p>
                    <p>Biografie</p>
                    <p>IsBeschikbaar</p>
                    <p>Acties</p>
                </div>
                <span class="headLine"></span>
                @foreach (var doctor in filteredDoctors)
                {
                    <div class="doc-container">
                        <p>@doctor.Id</p>
                        <p>@doctor.Name</p>
                        <p>@doctor.Specialization</p>
                        <p>@doctor.Gender</p>
                        @if (doctor.Biograph == null)
                        {
                            <p class="noBio">Geen Bio</p>
                        }
                        else
                        {
                            <p class="bio">Hover me
                            <p class="tooltip-text">@doctor.Biograph</p>
                            </p>

                        }
                        @if (doctor.IsAvailable == true)
                        {
                            <p>Ja</p>
                        }
                        else
                        {
                            <p>Nee</p>
                        }
                        <div class="doc-action-con">
                            <button class="edit-btn" @onclick="( () => ShowModal(doctor) )"><Icon Name="IconName.Edit" /></button>
                            @* <button class="del-btn" @onclick="() => DeleteDoctor(doctor)"><Icon Name="IconName.Delete" /></button> *@
                            <button class="del-btn" @onclick="() => ShowDeleteConfirmationPopup()"><Icon Name="IconName.Delete" /></button>
                            @if (ShowDeleteConfirmation)
                                    {
                                        <div class="confirmation-popup" style="display: @(ShowDeleteConfirmation ? "flex" : "none")">
                                            <h3>Bent u zeker?</h3>
                                            <div class="popup-buttons">
                                                <button class="popDel" @onclick="() => DeleteDoctor(doctor)">Confirm</button>
                                                <button class="popCan" @onclick="CancelDelete">Cancel</button>
                                            </div>
                                        </div>
                                    }    
                        </div>
                    </div>
                    <span class="line"></span>
                }
            }
        } else 
        {
            <p>Geen dokters gevonden</p>
        }
        </div>
    </div>
</div>

<Modal @ref="modalRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Dokter updaten</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>Naam</FieldLabel>
                <TextEdit Placeholder="Geef naam..." @bind-Text="newName" />
            </Field>
            <Field>
                <FieldLabel>Specialisatie</FieldLabel>
                <TextEdit Placeholder="Geef specialisatie..." @bind-Text="newSpecialization" />
            </Field>
            <Field>
                <FieldLabel>Geslacht</FieldLabel>
                <select @bind="newGender">
                    <option value="Male">Man</option>
                    <option value="Female">Vrouw</option>
                    <option value="Other">Anders</option>
                </select>
            </Field>
            <Field>
                <FieldLabel>Biografie</FieldLabel>
                <TextEdit Placeholder="Geef biografie..." @bind-Text="newBio" />
            </Field>
            <Field>
                <FieldLabel>Beschikbaar?</FieldLabel>
                <input type="checkbox" @bind="newIsAvailable" />
            </Field>
            <Field>
                <FieldLabel>Afbeelding</FieldLabel>
                <TextEdit Placeholder="Geef afbeelding link..." @bind-Text="newImageLink" />
            </Field>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModal">Sluit</Button>
            <Button Color="Color.Primary" Clicked="@UpdateDoctor">Opslaan</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private bool visible = false;
    private string message = string.Empty;
    private bool ShowDeleteConfirmation = false;

    private string searchTerm = "";

    private IEnumerable<DoctorDTO> doctors;
    private IEnumerable<DoctorDTO> filteredDoctors;
    private DoctorDTO clickedDoctor;

    protected override async Task OnInitializedAsync()
    {
        doctors = await doctorService.GetDoctors();
        FilterDoctors();
    }

    int? id;
    string? newName;
    string newEmail;
    string? newSpecialization;
    Gender newGender;
    string? newBio;
    bool newIsAvailable;
    string? newImageLink;
    protected bool readOnly;

    private Modal? modalRef;

    private void FilterDoctors()
    {
        if (!string.IsNullOrWhiteSpace(searchTerm))
        {
            filteredDoctors = doctors.Where(d =>
                d.Name.Contains(searchTerm, StringComparison.OrdinalIgnoreCase) 
            );
        }
        else
        {
            filteredDoctors = doctors;
        }
    }

    private async Task FilterDoctorsOnEnter(KeyboardEventArgs args)
    {
        if (args.Key == "Enter")
        {
            FilterDoctors();
        }
    }

    private async Task<Task?> ShowModal(DoctorDTO doctor)
    {
        clickedDoctor = doctor;
        id = doctor.Id;
        newName = doctor.Name;
        newSpecialization = doctor.Specialization;
        newGender = doctor.Gender;
        newBio = doctor.Biograph;
        newIsAvailable = doctor.IsAvailable;
        newImageLink = doctor.ImageLink;
        return modalRef?.Show();
    }

    private Task? HideModal()
    {
        return modalRef?.Hide();
    }

    private async void UpdateDoctor()
    {
        visible = false;
        message = string.Empty;

        var authenticationState = await authenticationStateTask;

        if (authenticationState.User.IsInRole("Admin"))
        {
            try
            {
                DoctorDTO doctor = new()
                {
                    Id = clickedDoctor.Id,
                    Name = newName,
                    Specialization = newSpecialization,
                    Gender = newGender,
                    Biograph = newBio,
                    IsAvailable = newIsAvailable,
                    ImageLink = newImageLink,
                };
                await doctorService.UpdateDoctor(doctor);
                NavManager.NavigateTo("/admin/dokters", true);
            }
            catch (Exception e)
            {
                Console.WriteLine(e.Message);
            }
        }
        else
        {
            message = "U heeft geen toegang tot bewerken.";
            visible = true;
        }

        await HideModal();
    }

    private async Task ShowDeleteConfirmationPopup()
    {
        ShowDeleteConfirmation = true;
    }

    private async void DeleteDoctor(DoctorDTO p)
    {
        visible = false;
        message = string.Empty;

        var authenticationState = await authenticationStateTask;

        if (authenticationState.User.IsInRole("Admin"))
        {
            await doctorService.DeleteDoctor(p);
            ShowDeleteConfirmation = false;
            NavManager.NavigateTo("/admin/dokters", true);
        }
        else
        {
            message = "U heeft geen toegang tot verwijderen.";
            visible = true;
        }
    }

    private async Task CancelDelete()
    {
        ShowDeleteConfirmation = false;
    }

    
}