@page "/admin/dokters"
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
@using System.Text.Json
@using Persistence.Data
@using Services.Core
@using Shared.DTO.Core
@using BlazorApp.Controllers
@inject DatabaseContext databaseContext
@using Microsoft.AspNetCore.Components
@inject DoctorService doctorService
@inject NavigationManager NavManager
@using BlazorApp.Components.Modals

@attribute [Authorize(Roles = "Admin, Employee")]

<PageTitle>Admin - Chat Bot</PageTitle>

<SideNavMenu />
<div class="content">
    <div class="container">
        <h1>Dokters in het systeem</h1>
        @if (doctors != null && doctors.Count() > 0)
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Naam</th>
                        <th>Specialisatie</th>
                        <th>Geslacht</th>
                        <th>Biographie</th>
                        <th>IsBeschikbaar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var doctor in doctors)
                    {
                        <tr>
                            <td>@doctor.Id</td>
                            <td>@doctor.Name</td>
                            <td>@doctor.Specialization</td>
                            <td>@doctor.Gender</td>
                            <td>@doctor.Biograph</td>
                            <td>@doctor.IsAvailable</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>

</div>
@code {
    private IEnumerable<DoctorDTO> doctors;

    protected override async Task OnInitializedAsync()
    {
        doctors = await doctorService.GetDoctors();
    }

}