@page "/docter-info/{DoctorId:int}"
@using BlazorApp.Models
@using BlazorApp.Services
@using BlazorApp.Services.Core
@using Shared
@using BlazorApp.BlazorShared
@inject DoctorService doctorService

<PageTitle>Doctor Detail</PageTitle>

<div class="content-container">

    <div class="content-wrapper">
        @if (Doctor != null)
        {
            <div class="imageBackWrapper">
                <div class="exitDoctorDetail">
                    <NavLink class="backArrownav" href="/ons-team">
                        <p class="lastText">
                            <img src="images/BackArrow.png" class="backArrow" alt="icon" data-test-id="doctordetail-back-button" />
                        </p>
                    </NavLink>
                </div>
                <div class="info-Img-wrapper">
                    <img src=@Doctor.ImageLink alt="Doctor Image" class="doctor-image" />
                </div>
            </div>



            <div class="doctor-info">
                <h2>Dokter informatie</h2>
                <ul>
                    <li>Naam: @Doctor.Name</li>
                    <li>Specialisatie: @Doctor.Specialization</li>

                </ul>
                <div id="biography">
                    <h3>Over @Doctor.Name</h3>
                    <h4>Geslacht</h4>
                    <p>@Doctor.Gender</p>
                    <p>@Doctor.Specialization</p>
                    <h3>Opleiding en Training</h3>
                    <p>@Doctor.Biograph</p>
                    
                </div>

            </div>
        } else {
                <div class="imageBackWrapper">
                <div class="exitDoctorDetail">
                    <NavLink class="backArrownav" href="/ons-team">
                        <p class="lastText">
                            <img src="images/BackArrow.png" class="backArrow" alt="icon" data-test-id="doctordetail-back-button" />
                        </p>
                    </NavLink>
                </div>
                </div>
            <p>Sorry, deze dokter werd niet gevonden.</p>
        }
    </div>
</div>

@code {
    [Parameter]
    public int DoctorId { get; set; }
    DoctorDTO? Doctor;

    protected override async Task OnInitializedAsync()
    {
        Doctor = await doctorService.GetDoctor(DoctorId);
    }
}