@page "/docter-info/{DoctorId:int}"
@using Services.Core:
@using Shared.DTO.Core;
@inject DoctorService doctorService

<PageTitle>Doctor Detail</PageTitle>

<div class="content-container">
    <BindToLocation />
    <div class="content-wrapper">
        @if (doctor != null)
        {
            <div class="imageBackWrapper">
                <div class="exitDoctorDetail">
                    <NavLink class="backArrownav" href="/ons-team">
                        <p class="lastText">
                            <img src="images/BackArrow.png" class="backArrow" alt="icon" data-test-id="doctordetail-back-button" />
                        </p>
                    </NavLink>
                </div>
                <div class="info-Img-wrapper">
                    <img src=@doctor.ImageLink alt="Doctor Image" class="doctor-image" />
                </div>
            </div>



            <div class="doctor-info">
                <h2>Dokter informatie</h2>
                <ul>
                    <li>Naam: @doctor.Name</li>
                    <li>Specialisatie: @doctor.Specialization</li>

                </ul>
                <div id="biography">
                    <h3>Over @doctor.Name</h3>
                    <h4>Geslacht</h4>
                    <p>@doctor.Gender</p>
                    <p>@doctor.Specialization</p>
                    <h3>Opleiding en Training</h3>
                    <p>@doctor.Biograph</p>
                    
                </div>

            </div>
        } else {
                <div class="imageBackWrapper">
                <div class="exitDoctorDetail">
                    <NavLink class="backArrownav" href="/ons-team">
                        <p class="lastText">
                            <img src="images/BackArrow.png" class="backArrow" alt="icon" data-test-id="doctordetail-back-button" />
                        </p>
                    </NavLink>
                </div>
                </div>
            <p>Sorry, deze dokter werd niet gevonden.</p>
        }
    </div>
</div>

@code {
    [Parameter]
    public int DoctorId { get; set; }
    private DoctorDTO doctor;

    protected override async Task OnInitializedAsync()
    {
        doctor = await doctorService.GetDoctor(DoctorId);
    }
}