﻿@page "/"
@using System.Text.Json
@using BlazorApp.Data
@using BlazorApp.Services.CMS
@using BlazorApp.Models
@using BlazorApp.Controllers
@using BlazorApp.BlazorShared
@using Shared
@inject CMSHomeHeaderService homeHeaderService
@inject DatabaseContext databaseContext
@using Microsoft.AspNetCore.Components
@inject CMSBlogService blogService

<PageTitle>Vision Oogcentrum</PageTitle>

<div>
    <div class="background-div">
        <div class="overlay">
            @if(HomObj != null){
                <h1>@HomObj.Title</h1>
                <p>@((MarkupString)HomObj.Context)</p>
            }
            else
            {
                <p> Loading</p>
            }
            <h1>title</h1>
            <p>
                context
            </p>
            <div class="buttons">
                <button class="custom-button btn-custom">Maak een afspraak <span class="oi oi-calendar"></span></button>
                <button class="custom-button btn-custom">
                    Contacteer ons <span class="oi oi-envelope-closed"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div>



    <div class="actuaBox">

        @if (BlogObj.blogs != null)
        {
            @foreach (var b in BlogObj.blogs)
            {
                <ActuaField Title=@b.Title Text=@b.Text Image=@b.ImageLink Id=@b.Id />
            }
        }else{

        }
        <nav>
            <ul class="pagination">
                <li class="page-item @(currentPage == 1 ? "disabled" : "")">
                    <a class="page-link" @onclick="(() => ChangePage(currentPage - 1))">Vorige</a>
                </li>
                @for (int i = 1; i <= BlogObj.totalPages; i++)
                {
                    <li class="page-item @(i == currentPage ? "active" : "")">
                        <a class="page-link" @onclick="(() => ChangePage(i))">@i</a>
                    </li>
                }
                <li class="page-item @(currentPage == BlogObj.totalPages ? "disabled" : "")">
                    <a class="page-link" @onclick="(() => ChangePage(currentPage + 1))">Volgende</a>
                </li>
            </ul>
        </nav>
    </div>

</div>


@code {
    CMSHomeHeader HomObj;
    (IEnumerable<CMSBlog> blogs, int totalPages) BlogObj;
    int currentPage = 1;

    protected override async Task OnInitializedAsync()
    {
        HomObj = await homeHeaderService.GetHomeHeader();
        BlogObj = await blogService.GetBlogs(currentPage, 5);
    }

    private async Task ChangePage(int page)
    {
        if (page < 1 || page > BlogObj.totalPages)
        {
            return;
        }

        currentPage = page;
        BlogObj = await blogService.GetBlogs(currentPage, 5);
        StateHasChanged();
    }
}