@using Microsoft.AspNetCore.Components
@using System.Text.Json
@using System.Text.Json.Serialization;
@using Services.CMS;
@using Shared.DTO.CMS;
@using Persistence.Data; 
@inject HomeHeaderService homeHeaderService
@inject DatabaseContext databaseContext

<div>
    <div class="buttons">
        <Button Color="Color.Primary" Clicked="@ShowModal">Wijzig</Button>
    </div>
    <div>
        @if (homeHeader != null) {
            <h1>@homeHeader.Title</h1>

            @((MarkupString)homeHeader.Context!)
        } else {
            <p>Loading...</p>
        }
    </div>
    <Modal @ref="modalRef">
        <ModalContent Centered>
            <ModalHeader>
                <ModalTitle>Header wijziging</ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody>
                <Field>
                    <FieldLabel>Titel</FieldLabel>
                    <TextEdit Placeholder="Geef titel..." @bind-Text="newTitle" />
                </Field>
                <Field>
                    <RichTextEdit @ref="richTextEditRef" Theme="RichTextEditTheme.Snow" ContentChanged="@OnContentChanged"
                                  PlaceHolder="Beschrijving..." ReadOnly="@readOnly" SubmitOnEnter="false"
                                  EnterPressed="@OnSave" ToolbarPosition="Placement.Bottom">
                        <Editor>@newDescription</Editor>
                        <Toolbar>
                            <RichTextEditToolbarGroup>
                                <RichTextEditToolbarButton Action="RichTextEditAction.Bold" />
                                <RichTextEditToolbarButton Action="RichTextEditAction.Italic" />
                                <RichTextEditToolbarSelect Action="RichTextEditAction.Size">
                                    <RichTextEditToolbarSelectItem Value="small" />
                                    <RichTextEditToolbarSelectItem Selected />
                                    <RichTextEditToolbarSelectItem Value="large" />
                                    <RichTextEditToolbarSelectItem Value="huge">Very Big</RichTextEditToolbarSelectItem>
                                </RichTextEditToolbarSelect>
                                <RichTextEditToolbarButton Action="RichTextEditAction.List" Value="ordered" />
                                <RichTextEditToolbarButton Action="RichTextEditAction.List" Value="bullet" />
                            </RichTextEditToolbarGroup>
                            <!-- Custom toolbar content -->
                            <RichTextEditToolbarGroup Float="Float.End">
                                <Button onClick="window.open('https://www.quilljs.com/','quilljs')">
                                    <Icon Name="IconName.InfoCircle" />
                                </Button>
                                <Button Clicked="@OnSave">
                                    <Icon Name="IconName.Save" />
                                </Button>
                            </RichTextEditToolbarGroup>
                        </Toolbar>
                    </RichTextEdit>
                </Field>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="@HideModal">Sluit</Button>
                <Button Color="Color.Primary" Clicked="@UpdateTitle">Opslaan</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>

</div>

@code {
    protected new RichTextEdit richTextEditRef;
    protected bool readOnly;
    protected string contentAsHtml;
    protected string contentAsDeltaJson;
    protected string contentAsText;
    protected string savedContent;

    protected string? content;
    private HomeHeaderDTO homeHeader;
    int headerId;
    string? newTitle;
    string? newDescription;

    string? plainTextContent;
    string? context;

    private Modal? modalRef;

    private Task? ShowModal()
    {
        return modalRef?.Show();
    }

    private Task? HideModal()
    {
        return modalRef?.Hide();
    }

    public async Task OnContentChanged()
    {
        contentAsHtml = await richTextEditRef.GetHtmlAsync();
        contentAsDeltaJson = await richTextEditRef.GetDeltaAsync();
        contentAsText = await richTextEditRef.GetTextAsync();
    }

    public async Task OnSave()
    {
        savedContent = await richTextEditRef.GetHtmlAsync();
        await richTextEditRef.ClearAsync();
    }

    private async Task UpdateTitle()
    {
        content = await richTextEditRef.GetHtmlAsync();
        HomeHeaderDTO header = new()
        {
            Id = homeHeader.Id,
            Title = newTitle,
            Context = content
        };
        await homeHeaderService.UpdateHomeHeader(header);
        modalRef?.Hide();
    }

    protected override async Task OnInitializedAsync()
    {
        homeHeader = await homeHeaderService.GetHomeHeader();
        newTitle = homeHeader.Title;
        newDescription = homeHeader.Context;
        await richTextEditRef.SetHtmlAsync(newDescription);
    }
}