@page "/admin/cms/contact"
@inject LocationService locationService
@using Services.CMS;
@using Shared.DTO.CMS;
@using BlazorApp.Models;
@using BlazorApp.Controllers;
@using System.ComponentModel.DataAnnotations;
@using Microsoft.AspNetCore.Components.Forms;
@using BlazorApp.Components.Modals;
@using BlazorApp.Auth
@using Persistence.Data;
@inject NavigationManager NavManager

<PageTitle>Admin - CMS Contact</PageTitle>

<div class="sidebar">
    <SideNavMenu />
</div>

@if (!string.IsNullOrEmpty(BlitzWareAuthService.AuthService.userData.Token) &&
BlitzWareAuthService.AuthService.appData.AdminRoleLevel
==
BlitzWareAuthService.AuthService.userData.UserSubLevel)
{
<div class="page-container">
    <div class="title-layout">
        <h1>Contact</h1>
        <a><u>Home</u> > Contact </a>
    </div>
    <div class="container mt-4 mp">
        <div class="form-container">
            <h1 class="header1">Stel ons een vraag</h1>

            <EditForm Model="@contactData" OnValidSubmit="@SubmitForm">
                @* <DataAnnotationsValidator /> *@
                <div class="divide-container">
                    <div class="left">
                        <div class="name-container">
                            <div class="box">
                                <label class='formLabel'>Voornaam</label>
                                <InputText @bind-Value="contactData.Name" placeholder="Naam" type='text' />
                                @* <ValidationMessage For="@(() => contactData.Name)" /> *@
                            </div>
                            <div class="box">
                                <label class='formLabel'>Naam</label>
                                <InputText @bind-Value="contactData.LastName" placeholder="Achternaam" type='text' />
                                @* <ValidationMessage For="@(() => contactData.LastName)" /> *@
                            </div>
                        </div>
                        <div class="name-container">
                            <div class="box">
                                <label class='formLabel'>E-mail</label>
                                <InputText @bind-Value="contactData.Email" type='text' placeholder='naam@mail.com' />
                                @* <ValidationMessage For="@(() => contactData.Email)" /> *@
                            </div>
                            <div class="box">
                                <label class='formLabel'>GSM</label>
                                <InputText @bind-Value="contactData.Phone" type='text' placeholder='0489561475' />
                                @* <ValidationMessage For="@(() => contactData.Phone)" /> *@
                            </div>
                        </div>
                        <label class='formLabel'>Geboortedatum</label>
                        <InputDate @bind-Value="contactData.BirthDate" />
                    </div>
                    <div class="right">
                        <div class="leftie">
                            <label class='formLabel'>Bericht of vraag</label>
                        </div>
                        <InputTextArea @bind-Value="contactData.Message" rows="10" placeholder=". . ." />
                        @* <ValidationMessage For="@(() => contactData.Message)" /> *@
                    </div>
                </div>
                <div class="btn-container">
                    <button type="submit" class="sendBtn">Verstuur</button>
                </div>
            </EditForm>
        </div>
        </div>
    </div>
    <div class="containerLoc">
        <h1 class="header2">Locatie</h1>
        <div class="loc-details-con">
            <div class="loc-wrapper">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2047.9370463549672!2d3.7806270106539936!3d51.07552655239289!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c376fd48f2d687%3A0x1773eb5790d0402b!2sAntwerpsesteenweg%201022%2C%209040%20Gent!5e0!3m2!1sen!2sbe!4v1701706907842!5m2!1sen!2sbe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="loc-details">
                @* @if (location != null)
                {
                    <p>@((MarkupString)location.Context!)</p>
                } *@
                <p>België</p>
                <br>
                <p>Telefoon: *09 123 45 67*</p>
                <p>E-mail: *</p>
                <br>
                <p>Parkeren mogelijk: ja</p>
            </div>
        </div>
    </div>
}
else
{
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-md-6">
            <p>U heeft geen toegang tot deze pagina.</p>
        </div>
    </div>
}


@code {
    [Inject]
    private BlitzWareAuthService BlitzWareAuthService { get; set; }
    private LocationDTO location;

    private ContactData contactData = new ContactData();

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(BlitzWareAuthService.AuthService.userData.Token))
            NavManager.NavigateTo("/login");
        location = await locationService.GetLocation();
    }

    private async Task SubmitForm()
    {
        Console.WriteLine("test");
    }

}
